@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --btn-bg-color: #0061FF;
    --btn-color: white;
    --btn-padding:7px 9px;
    --font-size: 0.9vw;
}

html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    /*FONT-SIZE RELATIVE TEST*/
    font-size: var(--font-size);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    display: block;
}

/*DEBUG*/

.debug .container > *{
    border: 1px dashed black;
    /* height: 100px; */
}

/*LAYOUT*/

.container{
    margin:0 auto;
}

.container-100{
    width: 100%;
}

.container-60{
    width: 65%;
}

.container-50{
    width: 55%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card > *{
    padding: 0 15px;
}

.column-100{
    width: 100%;
}

.column-35{
    width: 35%;
    padding-top: 35px;
}

.column-65{
    width: 65%;
    position: relative;
}

.column-33{
    width: calc(100%/3);
    padding: 0 15px;
    display: flex;
}

.column-66{
    width: calc((100%/3)*2);
}

.card{
    border: 1px solid grey;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar ul{
    display: flex;
}

.navbar ul > *{
    padding: 0 10px;
}

.billing{
    padding: 0 15px;
}

.btn{
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    padding: var(--btn-padding);
    padding: 15px 10px;
    text-align: center;
}

/*HEADER*/

.navbar .btn{
    padding: 5px 10px ;
}


/*MAIN*/

.hero{
    background-color: #B4D0E7;
    padding: 20px 0;
}

.hero ul > *{
    font-size: var(--font-size);
}

.hero ul > *:not(:last-child):not(:first-child){
    padding: 25px 0;
}

.hero h1{
    font-size: 4.5vw;
    padding: 25px 0;
    line-height: 90px;
}

.dropbox-features{
    position: absolute;
    bottom:-90px;
}

.plans{
    padding-top: 100px;
}

.plans h2{
    font-size: 2vw;
}

.plans label{
    padding-left: 2px;
    padding-right: 15px;
}

.plans .billing-period{
    padding-top:50px;
    padding-bottom: 35px;
}

.plan-info > *{
    margin-bottom:30px ;
}

.plan-info-list ul > *:not(:last-child){
    margin-bottom: 10px;
}

.plan-list h3{
    font-size: 1.5vw;
}

.plan-header{
    text-align: center;
}

.plan-info-title :last-child{
    font-size: 0.7vw;
    color: grey;
}

.plan-info i{
    padding-right: 5px;
}

.plan-cta{
    margin-top: 40px;
}

.plan-cta > a{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.plan-cta p{
    padding-top:25px ;
}

.plan-cta span{
    border: 1px solid lightgray;
    margin-top: 30px;
    display: block;
    width: 30%;
}

.plan-cta p a{
    text-decoration: underline;
    color: blue;
}

.plan-list .fa-check{
    color: blue;
}

.plan-list .column-100
{
    margin-top: 50px;
    margin-bottom: 75px;
}

.enterprise-plan .column-33{
    position: relative;
}

.enterprise-price{
    font-weight: bold;
    margin-bottom: 30px;
}

.enterprise-plan .btn{
    position:absolute;
    top:10px;
    right: 10px;
}

/*RADIO-BTN STYLING TEST*/
/*Need to add white circle inside when button checked*/
.btn-radio {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: currentColor;
    width: 1.3em;
    height: 1.3em;
    border: 0.1em solid grey;
    border-radius: 50%;
}

.btn-radio:checked{
    background-color: var(--btn-bg-color);
}

/*FA ICON LEFT POS TEST*/
.plan-info-list li p{
    position: relative;
    padding-left: 20px;
}

.plan-info-list li i{
    position: absolute;
    left:0;
}
