@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --btn-bg-color: #0061FF;
    --btn-color: white;
    --btn-padding:7px 9px;
    --font-size: 20px;
}

html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    display: block;
}

/*DEBUG*/

.debug .container > *{
    border: 1px dashed black;
    /* height: 100px; */
}

/*LAYOUT*/

.container{
    margin:0 auto;
}

.container-100{
    width: 100%;
}

.container-60{
    width: 65%;
}

.container-50{
    width: 55%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column-100{
    width: 100%;
}

.column-35{
    width: 35%;
}

.column-65{
    width: 65%;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar ul{
    display: flex;
}

.navbar ul > *{
    padding: 0 10px;
}

/*HEADER*/

.btn{
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    padding: var(--btn-padding);

}

/*MAIN*/

.hero{
    background-color: #B4D0E7;
}

.hero ul > *{
    font-size: var(--font-size);
}

.hero ul > *:not(:last-child){
    padding: 25px 0;
}

.hero h1{
    font-size: 90px;
    padding: 25px 0;
    line-height: 90px;
}

.plans{
    padding: 30px 0;
}

