@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --btn-bg-color: #0061FF;
    --btn-color: white;
    --btn-padding:7px 9px;
    --font-size: 0.9vw;
}

html{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    display: block;
}

/*DEBUG*/

.debug .container > *{
    border: 1px dashed black;
    /* height: 100px; */
}

/*LAYOUT*/

.container{
    margin:0 auto;
}

.container-100{
    width: 100%;
}

.container-65{
    width: 65%;
}

.container-55{
    width: 55%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card > *{
    padding: 0 15px;
}

.column-100{
    width: 100%;
}

.column-35{
    width: 35%;
}

.column-65{
    width: 65%;
}

.column-50{
    width: 50%;
}

.column-60{
    width: 60%;
}

.column-40{
    width: 40%;
}

.column-33{
    width: calc(100%/3);
}

.column-20{
    width: 20%;
}

.plans .column-33{
    padding: 0 15px;
    display: flex;
}

.column-66{
    width: calc((100%/3)*2);
}

.position-rel{
    position: relative;
}

.plans .card{
    border: 1px solid grey;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar ul{
    display: flex;
}

.navbar ul > *{
    padding: 0 10px;
}

.btn{
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    padding: var(--btn-padding);
    padding: 15px 10px;
    text-align: center;
}

.line{
    display: block;
}

/*TEXT FORMATTING*/

h1{
    font-size: 4.5vw;
    padding: 25px 0;
    line-height: 90px;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 1.5vw;
}

h4{
    font-size: 1vw;
}

p{
    /*FONT-SIZE RELATIVE TEST*/
    font-size: var(--font-size);
}

/*HEADER*/

.navbar .btn{
    padding: 5px 10px ;
}

/*MAIN*/

.hero{
    background-color: #B4D0E7;
    padding-top:50px;
    padding-bottom: 20px;
}

.hero > *{
    font-size: var(--font-size);
}

.hero .column-35 > *:not(:last-child){
    padding: 25px 0;
}

.dropbox-content{
    position: absolute;
    bottom:-80px;
}

.plans .column-100{
    padding:0 15px;
}

.plans{
    padding-top: 100px;
}

.plans label{
    padding-left: 2px;
    padding-right: 15px;
}

.plans .billing-period{
    padding-top:50px;
    padding-bottom: 35px;
}

.plan-info > *{
    margin-bottom:30px ;
}

.plan-info-list ul > *:not(:last-child){
    margin-bottom: 10px;
}

/* .plan-single-user, .plan-team, .plan-company, .plan.custom{
    padding: 0;
} */

.plan-header{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.plan-info-title :last-child{
    font-size: 0.7vw;
    color: grey;
}

.plan-info i{
    padding-right: 5px;
}

.plan-cta{
    margin-top: 40px;
}

.plan-cta > a{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.plan-cta p{
    padding-top:25px ;
}

.plan-cta .line{
    border: 1px solid lightgray;
    margin-top: 30px;
    width: 30%;
}

.plan-cta p a{
    text-decoration: underline;
    color: blue;
}

.plan-list .fa-check{
    color: blue;
}

.plan-list .column-100
{
    margin-top: 50px;
    margin-bottom: 75px;
}

.plan-custom .row{
    align-items: flex-start;
} 

.plan-custom{
    padding-bottom: 50px;
}

.custom-price{
    font-weight: bold;
    margin-bottom: 30px;
}

.plan-custom .btn{
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.partner .column-100{
    padding: 0 15px;
}
.partner .partner-img{
    max-width: 60%;
    float:left;
    margin-right: 50px;
}

.partner-text > *{
    padding: 10px 0;
}

.partner .partner-text{
    padding-top: 70px;
}

.partner-text p{
    margin-bottom: 30px;
}

.partner a{
    padding: 7px 10px;
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.dropbox-features .column-100{
    padding: 0 15px;
}
.dropbox-features{
    margin-top: 50px;
    padding-bottom: 30px;
}

.dropbox-features{
    padding-top: 30px;
}

.dropbox-features p{
    font-size: 0.8vw;
    margin-top: 20px;
}

.dropbox-users{
    padding: 100px 15px;
    max-width: 70%;
}

.dropbox-users h2{
    margin-bottom: 30px;
}

.dropbox-users  a{
    text-decoration: underline;
    color: blue;
}

/*ASIDE*/

.correlated .column-50{
    display: flex;
    justify-content: center;
    align-items: center;
}

.correlated .column-33:nth-child(2){
    background-color: #F5F5F5;
}

.correlated .logos img{
    width: 50%;
    height: auto;
    max-height: 400px;
    aspect-ratio: 1/1;
    margin:25% 0;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(70deg) brightness(108%) contrast(108%);
}

.designit{
    border: 10px solid #D1E9CD;
    background-color: #A2D3B9;
}

.asu{
    background-color: #61082b;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.world-bicycle-relief{
    background-color: #D5001F;
}

.hearst-corp{
    background-color: #B4D0E7;
}

.lonely-planet{
    background-color: #0D2481;
}

.clear-channel{
    background-color: #FFD830;
}

.jumbo-logo{
    padding: 30px 50px;
}

.jumbo-logo img{
    width: 60%;
    height: auto;
}

.jumbo-logo .line{
    border: 1px solid lightgray;
    margin-top: 50px;
    width: 20%;
}

.jumbo-logo p{
    margin: 30px 0;
}

.bg-B4D0E7{
    background-color: #B4D0E7;
    padding-bottom: 50px;
}
.try-business .content{
    padding: 100px 0;
    color: #61082B;
}

.try-business .content a{
    background-color: white;
    color: black;
}

.try-business .row .column-50:last-child{
    text-align: right;
    padding-top: 20px;
}

.faq{
    margin: 90px 0;
}

.faq h2{
    margin-bottom: 30px;
}

.faq .line{
    border: 1px solid gray;
}

.faq ul > li{
    font-weight: bold;
    margin: 0 auto;
    width: 90%;
}

.faq ul li > i{
    padding-left: 200px;
}

.faq ul > li:nth-child(2n){
    margin: 25px auto;
}

/*FOOTBAR*/

.footbar{
    background-color: black;
    color:white;
    padding: 50px 0;
}

.footbar h4{
    padding-bottom: 30px;
}

.footbar ul > li{
    padding:5px;
}

.footbar .line{
    border: 1px solid darkgray;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.footbar .lang{
    padding: 0 5px;
}

.footbar .column-20{
    padding: 0 15px;
}

/*RADIO-BTN STYLING TEST*/
/*Need to add white circle inside when button checked*/
.btn-radio {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: currentColor;
    width: 1.3em;
    height: 1.3em;
    border: 0.1em solid grey;
    border-radius: 50%;
}

.btn-radio:checked{
    background-color: var(--btn-bg-color);
}


/*TEST PREVENT ICON WRAPPING*/
.plans ul li i{
    float: left;
}

.plans ul li span.text-to-right{
    display: block;
    overflow: hidden;
}